<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="form" >
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" >Search:</span>
          </div>
          <input type="text" class="form-control" formControlName="search">
        </div>
      </form>
      <hr>
      <div>
        <button type="button" (click)="searsh_friend()" class="btn btn-secondary">search</button> 
      </div>
      <h4>users: </h4>
      <div>
        <h5>{{messege}}</h5>
      </div>
      <div *ngFor="let item of friends">
        <hr>
        <a routerLink="/profile/friend/{{item.id}}"><h5>{{item.username}}</h5></a>
        <br>
        <div (click)="createMyFriend(item)">
          <button type="button" class="btn btn-secondary" >add</button> 
        </div>
        <hr>
      </div>
      <div  *ngIf="friends.length==0">
        <h5>not friend</h5>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer> 

