<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Sign up~</h2>
      <br>
      <form [formGroup]="registration_form" (ngSubmit)="registrationUser()">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" >userName:</span>
          </div>
          <input type="text" class="form-control" formControlName="username">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" >password:</span>
          </div>
          <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" >email:</span>
          </div>
          <input type="text" class="form-control" formControlName="email">
        </div>
        <div class="input-group mb-3">
          <button type="submit" class="btn btn-secondary">загерестрироваться</button>
        </div>
      </form>
    </div>
    <br>
    <div class="col-md-12">
      
      <h5>{{massege}}</h5>
    </div>
  </div>
</div>

<app-footer></app-footer>